<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being submitted:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Customer Details</h2>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.phone_field :phone, required: true %>
  </div>

  <h2>Shipping Address</h2>
  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, required: true %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, required: true %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, required: true %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, required: true %>
  </div>

  <h2>Products Included in Your Order</h2>
  <table width="100%">
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Prescription #</th>
      <th>Special Message</th>
      <th>Exclude?</th>
    </tr>

    <%= form.fields_for(:order_products) do |line_item_form| %>
      <%
        order_product = line_item_form.object
        product = order_product.product
      %>
      <%= line_item_form.hidden_field(:product_id) %>
      <tr>
        <td><%= link_to(product.id, product_path(product)) %></td>
        <td><%= product.name %></td>
        <td>
          <% if product.prescription? %>
            <%= line_item_form.label(:prescription_number) %>
            <%= line_item_form.text_field(:prescription_number, placeholder: '000000', minlength: 6, required: true) %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td>
          <% if order_product.veterinarian_alert? %>
            <div class="warning" id="error_explanation">
              <h2>Restricted Product</h2>
              <strong>This product is restricted by law</strong> and may
              only be ordered by registered veterinarians. If you are a vet, be sure to sign in with your account
              that has been registered with your VR number. Otherwise, you must remove it from your order.
              Click the box to the right to do so now.
            </div>
          <% end %>
        </td>
        <td>
          <%= line_item_form.check_box(:_destroy) %>
        </td>
      </tr>
    <% end %>
    </table>

  <%= form.submit %>


<% end %>