<!DOCTYPE html>
<html>
  <head>
    <title>AcmeVeterinaryHealthcare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <footer>
    <% unless user_signed_in? %>
      <%= link_to 'Sign in', new_user_session_path %> 
      or
      <%= link_to 'Sign up for a New Account', new_user_registration_path %> 
    <% else %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
    <% end %>
  </footer>
  
</html>
